<div class="container-fluid p-5">
  <div class="row w-100 align-items-start justify-content-center">
    <div class="col-lg-6">
      <h6>Contact us</h6>
      <h3>Get in Touch With Us</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        repellendus itaque similique sequi facere dolor, deserunt excepturi
        totam dolorum omnis illum harum libero provident iste impedit
        reiciendis. Ut, magni doloremque.
      </p>
    </div>
    <div class="col-lg-4">
        <form class="w-100">
            <div class="form-group">
                <label for="name" class="form-label fw-bold">Name:</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name">
            </div>
            <div class="form-group mt-3">
                <label for="email" class="form-label fw-bold">Email:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email">
            </div>
            <div class="form-group mt-3">
                <label for="message" class="form-label fw-bold">Message</label>
                <textarea class="form-control" id="message" rows="3"></textarea>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Enviar"> 
            </div> 
        </form>
    </div>
  </div>
</div>
