<div class="container-fluid p-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4">
            <img src="/assets/img/prova.png" alt="me" class="img-fluid">
        </div>
        <div class="col-lg-4">
            <h5>Who am I</h5>
            <h3>Hello,</h3>
            <p>
                I'm <strong>Egor Santamaria Rivas</strong>, a web application development student. I'm dedicated to mastering <strong>programming languages</strong> and technologies to create seamless <strong>user experiences</strong> and stay updated with industry trends.
            </p>
            <p>
                I really like the websites and <strong>every day I try to learn more.</strong>
            </p>
        </div>
    </div>
</div>