<div class="container-fluid p-5">
    <div class="row w-100 align-items-center justify-content-center">
        <div class="col-lg-6">
            <h3 class="text-uppercase">Skills</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cum perspiciatis sapiente aliquam placeat explicabo dolorem. Harum sunt atque porro iusto mollitia consequuntur tenetur ut, dolore officia temporibus obcaecati placeat.
            </p>
            <div class="skills">
                <img src="/assets/img/icons/html5.png" class="img-fluid" alt="develop-language">
                <img src="/assets/img/icons/css3.png" class="img-fluid" alt="develop-language">
                <img src="/assets/img/icons/bootstrap.png" class="img-fluid" alt="develop-language">
                <img src="/assets/img/icons/js.png" class="img-fluid" alt="develop-language">
                <img src="/assets/img/icons/php.png" class="img-fluid" alt="develop-language">
            </div>
        </div>
    </div>
</div>